page-customers {
    .ion-content {
        background: #36365f;
    }
    .ion-icon {
        font-size: 30px;
    }
    .vertical-bar:after {
        content: '';
        width: 0;
        height: 100%;
        border: 1px solid white;
    }
    .ion-item {
        background: #36365f;
    }
    .myCustomSelect {
        max-width: 100% !important;
    }
    .searchbar-md .searchbar-input {
        background: transparent !important;
        color: #fff;
    }

    .grid {
        padding-left: 10px;
        padding-right: 10px;
    }
}