<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">
      <img alt="logo" height="50px" src="assets/imgs/Hellas-Dns-logo.png" style="margin-right:20px;" (click)="goToDashboard()">
    </ion-title>
    <ion-buttons end>
      <button id="account" style="margin-right: 5px;" ion-button color="white" icon-only (click)="presentPopover2($event);">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="ion-content">
  <div>
      <ion-searchbar
      style="background: transparent !important;"
      [(ngModel)]="searchInput"
      [showCancelButton]="true"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
      (ionClear)="onClear($event)"
      placeholder="Αναζητηση">
    </ion-searchbar>
  </div>
  <div style="float:left;color:#ffc200; margin-top: 12px;margin-left: 20px;font-size: 15px;">
    {{getVisibleCustomersCount()}} Πελάτες
  </div>
  <div style="float:right;position: relative;top:5px;right:5px;">
    <button (click)="presentPopover($event); openPopOver1 = true;" style="background: transparent !important;">
      <img id="filter" width="30" height="30" alt="sorting" src="assets/imgs/FILTRA-icon.png">
    </button>
  </div>
  <div style="float:right;position: relative; top: -2px;">
    <ion-label style="color:#747490">Ταξινόμηση ανα</ion-label>
  </div>

  <ion-grid class="grid">
    <ion-row *ngFor="let customer of getVisibleCustomers(); let i = index;" style="background: #272753; margin-bottom: 2px; padding-bottom:10px;height: 60px;border-radius: 10px;" (click)="openCustomer(i)">
      <ion-col col-12 >
        <div>          
          <div style="display: inline-block;color:#fff; position: relative;top: 10px;font-size: 13px;margin-left: 10px;">{{customer.name}} {{customer.surname}}</div>
          <div style="float:right;color:red;font-size: 12px;position: relative;top:15px;margin-right: 10px;" *ngIf="customer.draft === true">Draft</div>
          <div style="position:relative; top: 15px; float:right;color:#747490;font-size: 12px;margin-right: 10px;" *ngIf="customer.draft === false">{{customer.publishedDate}}</div>
          <div style="color:#747490;position: relative;top:15px;font-size: 11px;margin-left: 10px;">{{customer.city}}</div>
        </div>
      </ion-col>             
    </ion-row>
  </ion-grid>


  <ion-fab bottom right>
    <button ion-fab color="app-yellow" (click)="goToNewCustomer()">
      <ion-icon name="add" color="dark"></ion-icon>
    </button>
  </ion-fab>
</ion-content>