<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">
      <img alt="logo" height="50px" src="../../assets/imgs/Hellas-Dns-logo.png" style="margin-right:20px;">
    </ion-title>
    <ion-buttons end>
      <button ion-button color="white" icon-only menuClose (click)="presentPopover($event)">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="ion-content">
  <div style="color:#ffc200;font-size: 20px;margin-bottom: 20px;">
    Σημειώσεις
  </div>


  <ion-row *ngIf="notes.length === 1" style="background:#272753;margin-bottom: 2px; border-radius: 10px;">
    <ion-col col-3 style="color:#8c8ca9;display: flex!important;
      align-content: center!important;
      align-items: center!important;border-right: thin solid #5a5a7c;">
      {{notes[0].showDate}}
    </ion-col>
    <ion-col col-5 style="color:#8c8ca9;border-right: thin solid #5a5a7c;">
      {{notes[0].content | truncate : 40}}
    </ion-col>
    <ion-col col-2 style="
      display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;border-right: thin solid #5a5a7c;">
      <img src="../assets/imgs/eye-icon.png" width="40" height="40" (click)="openNote(0)">
    </ion-col>
    <ion-col col-2 style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;">
      <ion-icon name="trash" style="font-size: 30px;" color="white" (click)="deleteNote(0)"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="notes.length != 1 && notes.length > 0" style="background:#272753;margin-bottom: 2px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <ion-col col-3 style="color:#8c8ca9;display: flex!important;
      align-content: center!important;
      align-items: center!important;border-right: thin solid #5a5a7c;">
      <div>
        <div>{{notes[0].showDate.split(" ")[0]}}</div>
        <div style="float:right">{{notes[0].showDate.split(" ")[1]}}</div>
      </div>
    </ion-col>
    <ion-col col-5 style="color:#8c8ca9;border-right: thin solid #5a5a7c;">
      {{notes[0].content | truncate : 40}}
    </ion-col>
    <ion-col col-2 style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;border-right: thin solid #5a5a7c;">
      <img src="../assets/imgs/eye-icon.png" width="40" height="40"  (click)="openNote(0)">
    </ion-col>
    <ion-col col-2 style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;">
      <ion-icon name="trash" style="font-size: 30px;" color="white" (click)="deleteNote(0)"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let note of notes.slice(1,-1); let i = index" style="background:#272753;margin-bottom: 2px;">
    <ion-col col-3 style="color:#8c8ca9;display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;border-right: thin solid #5a5a7c;">
      <div>
        <div>{{note.showDate.split(" ")[0]}}</div>
        <div style="float:right">{{note.showDate.split(" ")[1]}}</div>
      </div>
    </ion-col>
    <ion-col col-5 style="color:#8c8ca9;border-right: thin solid #5a5a7c;">
      {{note.content | truncate : 40}}
    </ion-col>
    <ion-col col-2 style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;border-right: thin solid #5a5a7c;">
      <img src="../assets/imgs/eye-icon.png" width="40" height="40"  (click)="openNote(i+1)">
    </ion-col>
    <ion-col col-2 style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;">
      <ion-icon name="trash" style="font-size: 30px;" color="white" (click)="deleteNote(i+1)"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="notes.length > 1" style="background:#272753;margin-bottom: 2px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    <ion-col col-3 style="color:#8c8ca9;display: flex!important;
      align-content: center!important;
      align-items: center!important;border-right: thin solid #5a5a7c;">
      <div>
        <div>{{notes[notes.length - 1].showDate.split(" ")[0]}}</div>
        <div style="float:right">{{notes[notes.length - 1].showDate.split(" ")[1]}}</div>
      </div>
    </ion-col>
    <ion-col col-5 style="color:#8c8ca9;border-right: thin solid #5a5a7c;">
      {{notes[notes.length - 1].content | truncate : 40}}
    </ion-col>
    <ion-col col-2 style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;border-right: thin solid #5a5a7c;">
      <img src="../assets/imgs/eye-icon.png" width="40" height="40"  (click)="openNote(notes.length - 1)">
    </ion-col>
    <ion-col col-2 style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;">
      <ion-icon name="trash" style="font-size: 30px;" color="white" (click)="deleteNote(notes.length - 1)"></ion-icon>
    </ion-col>
  </ion-row>


  <ion-fab bottom right>
    <button ion-fab color="app-yellow" (click)="addNote()">
      <ion-icon name="add" color="dark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>