<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">
      <img alt="logo" height="50px" src="assets/imgs/Hellas-Dns-logo.png" style="margin-right:20px;">
    </ion-title>
    <ion-buttons end>
      <button ion-button color="white" icon-only menuClose style="margin-right:10px;" (click)="presentPopover($event)">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="ion-content">
  <div style="color:#ffc200;font-size: 20px;margin-bottom: 20px;float: left;">
    Σημειώσεις ({{customersProvider.notes.length}})
  </div>

  <div style="float:right;">
    <button (click)="presentNotesPopover($event)" style="background: transparent !important;">
      <img id="filter" width="30" height="30" alt="sorting" src="assets/imgs/FILTRA-icon.png">
    </button>
  </div>

  <div style="clear:both"></div>

  <ion-row *ngIf="customersProvider.notes.length === 1" style="background:#272753;margin-bottom: 2px; border-radius: 10px;">
    <ion-col col-12 (click)="openNote(0)">
      <div>
        <div style="display: inline-block;color:#fff;font-size: 13px;margin-left: 10px;">{{customersProvider.notes[0].title | truncate:20}}</div>
        <div style="position:relative; top: 10px; float:right;color:#747490;font-size: 12px;margin-right: 10px;">{{customersProvider.notes[0].showDate}}</div>
        <div style="color:#747490;font-size: 11px;margin-left: 10px;">{{customersProvider.notes[0].status}}</div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="customersProvider.notes.length != 1 && customersProvider.notes.length > 0" style="background:#272753;margin-bottom: 2px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
      <ion-col col-12 (click)="openNote(0)">
          <div>
            <div style="display: inline-block;color:#fff;font-size: 13px;margin-left: 10px;">{{customersProvider.notes[0].title | truncate : 20}}</div>
            <div style="position:relative; top: 10px; float:right;color:#747490;font-size: 12px;margin-right: 10px;">{{customersProvider.notes[0].showDate}}</div>
            <div style="color:#747490;font-size: 11px;margin-left: 10px;">{{customersProvider.notes[0].status}}</div>
          </div>
        </ion-col>
  </ion-row>
  
  <ion-row *ngFor="let note of customersProvider.notes.slice(1,-1); let i = index" style="background:#272753;margin-bottom: 2px;">
      <ion-col col-12 (click)="openNote(i+1)">
          <div>
            <div style="display: inline-block;color:#fff;font-size: 13px;margin-left: 10px;">{{note.title | truncate : 20}}</div>
            <div style="position:relative; top: 10px; float:right;color:#747490;font-size: 12px;margin-right: 10px;">{{note.showDate}}</div>
            <div style="color:#747490;font-size: 11px;margin-left: 10px;">{{note.status}}</div>
          </div>
        </ion-col>
  </ion-row>

  <ion-row *ngIf="customersProvider.notes.length > 1" style="background:#272753;margin-bottom: 2px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
      <ion-col col-12 (click)="openNote(customersProvider.notes.length - 1)">
          <div>
            <div style="display: inline-block;color:#fff;font-size: 13px;margin-left: 10px;">{{customersProvider.notes[customersProvider.notes.length-1].title | truncate:20}}</div>
            <div style="position:relative; top: 10px; float:right;color:#747490;font-size: 12px;margin-right: 10px;">{{customersProvider.notes[customersProvider.notes.length-1].showDate}}</div>
            <div style="color:#747490;font-size: 11px;margin-left: 10px;">{{customersProvider.notes[customersProvider.notes.length-1].status}}</div>
          </div>
        </ion-col>
  </ion-row>
  <!-- 
  <ion-row *ngIf="customersProvider.notes.length === 1" style="background:#272753;margin-bottom: 2px; border-radius: 10px;">
    <ion-col col-12 style="color:#ffffff;" (click)="openNote(0)">
      Ημερομηνία: {{customersProvider.notes[0].showDate}}
    </ion-col>
    <ion-col col-11 style="margin-top:-10px;color:#ffffff;" (click)="openNote(0)">Τίτλος:
      {{customersProvider.notes[0].title | truncate : 30}}
    </ion-col>
    <ion-col col-1>
      <ion-icon name="trash" style="font-size: 20px;float: right;margin-top:-20px;width: 100%;" color="white" (click)="deleteNote(0)"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="customersProvider.notes.length != 1 && customersProvider.notes.length > 0" style="background:#272753;margin-bottom: 2px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
      <ion-col col-12 style="color:#ffffff;" (click)="openNote(0)">
          Ημερομηνία: {{customersProvider.notes[0].showDate}}
        </ion-col>
        <ion-col col-11 style="margin-top:-10px;color:#ffffff;" (click)="openNote(0)">Τίτλος:
          {{customersProvider.notes[0].title | truncate : 30}}
        </ion-col>
        <ion-col col-1>
          <ion-icon name="trash" style="font-size: 20px;float: right;margin-top:-20px;width: 100%;" color="white" (click)="deleteNote(0)"></ion-icon>
        </ion-col>
  </ion-row>

  <ion-row *ngFor="let note of customersProvider.notes.slice(1,-1); let i = index" style="background:#272753;margin-bottom: 2px;">
      <ion-col col-12 style="color:#ffffff;" (click)="openNote(i+1)">
          Ημερομηνία: {{note.showDate}}
        </ion-col>
        <ion-col col-11 style="margin-top:-10px;color:#ffffff;" (click)="openNote(i+1)">Τίτλος:
          {{note.title | truncate : 30}}
        </ion-col>
        <ion-col col-1>
          <ion-icon name="trash" style="font-size: 20px;float: right;margin-top:-20px;width: 100%" color="white" (click)="deleteNote(i+1)"></ion-icon>
        </ion-col>
  </ion-row>

  <ion-row *ngIf="customersProvider.notes.length > 1" style="background:#272753;margin-bottom: 2px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
      <ion-col col-12 style="color:#ffffff;" (click)="openNote(customersProvider.notes.length - 1)">
          Ημερομηνία: {{customersProvider.notes[customersProvider.notes.length - 1].showDate}}
        </ion-col>
        <ion-col col-11 style="margin-top:-10px;color:#ffffff;" (click)="openNote(customersProvider.notes.length - 1)">Τίτλος:
          {{customersProvider.notes[customersProvider.notes.length - 1].title | truncate : 30}}
        </ion-col>
        <ion-col col-1>
          <ion-icon name="trash" style="font-size: 20px;float: right;margin-top:-20px;width:100%;" color="white" (click)="deleteNote(customersProvider.notes.length-1)"></ion-icon>
        </ion-col>
  </ion-row> -->

  <!-- <ion-row *ngIf="customersProvider.notes.length === 1" style="background:#272753;margin-bottom: 2px; border-radius: 10px;">
    <ion-col col-3 style="color:#8c8ca9;display: flex!important;
      align-content: center!important;
      align-items: center!important;border-right: thin solid #5a5a7c;font-size: 12px;"
      (click)="openNote(0)">
      {{customersProvider.notes[0].showDate}}
    </ion-col>
    <ion-col col-7 style="color:#8c8ca9;border-right: thin solid #5a5a7c;font-size: 12px;display: flex!important;
    align-content: center!important;
    align-items: center!important;vertical-align: middle;"
      (click)="openNote(0)">
      {{customersProvider.notes[0].title | truncate : 40}}
    </ion-col>
    <ion-col col-2>
      <ion-icon name="trash" style="font-size: 20px;width: 100%;display: flex !important;
      justify-content: center !important;
      align-items: center !important; vertical-align: middle !important;"
        color="white" (click)="deleteNote(0)"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="customersProvider.notes.length != 1 && customersProvider.notes.length > 0" style="background:#272753;margin-bottom: 2px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <ion-col col-3 style="color:#8c8ca9;display: flex!important;
      align-content: center!important;
      align-items: center!important;border-right: thin solid #5a5a7c;"
      (click)="openNote(0)">
      <div>
        <div style="font-size:12px;">{{customersProvider.notes[0].showDate.split(" ")[0]}}</div>
        <div style="float:right; font-size: 12px;">{{customersProvider.notes[0].showDate.split(" ")[1]}}</div>
      </div>
    </ion-col>
    <ion-col col-7 style="color:#8c8ca9;border-right: thin solid #5a5a7c;font-size: 12px;display: flex!important;
    align-content: center!important;
    align-items: center!important;vertical-align: middle;"
      (click)="openNote(0)">
      {{customersProvider.notes[0].title | truncate : 40}}
    </ion-col>
    <ion-col col-2 style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;">
      <ion-icon name="trash" style="font-size: 20px;width: 100%;margin-left: 10px;" color="white" (click)="deleteNote(0)"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let note of customersProvider.notes.slice(1,-1); let i = index" style="background:#272753;margin-bottom: 2px;">
    <ion-col col-3 style="color:#8c8ca9;display: flex !important;
     vertical-align: middle;border-right: thin solid #5a5a7c;"
      (click)="openNote(i+1)">
      <div>
        <div style="font-size:12px">{{note.showDate.split(" ")[0]}}</div>
        <div style="float:right;font-size: 12px">{{note.showDate.split(" ")[1]}}</div>
      </div>
    </ion-col>
    <ion-col col-7 style="color:#8c8ca9;border-right: thin solid #5a5a7c;font-size: 12px;display: flex!important;
    align-content: center!important;
    align-items: center!important;vertical-align: middle;"
      (click)="openNote(i+1)">
      {{note.title | truncate : 40}}
    </ion-col>
    <ion-col col-2 style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;">
      <ion-icon name="trash" style="font-size: 20px;width: 100%;margin-left: 10px;" color="white" (click)="deleteNote(i+1)"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="customersProvider.notes.length > 1" style="background:#272753;margin-bottom: 2px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    <ion-col col-3 style="color:#8c8ca9;display: flex!important;
      align-content: center!important;
      align-items: center!important;border-right: thin solid #5a5a7c;"
      (click)="openNote(notes.length - 1)">
      <div>
        <div style="font-size: 12px;">{{customersProvider.notes[customersProvider.notes.length - 1].showDate.split(" ")[0]}}</div>
        <div style="float:right;font-size: 12px;">{{customersProvider.notes[customersProvider.notes.length - 1].showDate.split(" ")[1]}}</div>
      </div>
    </ion-col>
    <ion-col col-7 style="color:#8c8ca9;border-right: thin solid #5a5a7c;font-size: 12px;display: flex!important;
    align-content: center!important;
    align-items: center!important;vertical-align: middle;"
      (click)="openNote(notes.length - 1)">
      {{customersProvider.notes[customersProvider.notes.length - 1].title | truncate : 40}}
    </ion-col>
    <ion-col col-2 style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; vertical-align: middle;">
      <ion-icon name="trash" style="font-size: 20px;width: 100%;margin-left: 10px;" color="white" (click)="deleteNote(notes.length - 1)"></ion-icon>
    </ion-col>
  </ion-row> -->

  <ion-fab bottom right>
    <button ion-fab color="app-yellow" (click)="addNote()">
      <ion-icon name="add" color="dark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>