page-customer-info {
    .ion-content {
        background: #36365f;
    }
    
    .tabs .tabbar {
        background-color: #272753;
    }
    
    .tab-button[aria-selected=true] {
        border-bottom: 2px solid #ffc200;
    }
}