<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button navPop>
        <ion-icon name="ios-arrow-back" style="font-size: 30px;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="color:#ffc200">
      <span style="font-size:14px;opacity: 0.75;margin-left: 10px;" *ngIf="navParams.data.draft == false">{{navParams.data.name}}
        {{navParams.data.surname}}</span>
      <span style="font-size:14px;opacity: 0.75;margin-left: 10px;" *ngIf="navParams.data.draft == true || isEmptyArray(navParams.data)">ΕΓΓΡΑΦΗ ΝΕΟΥ
        ΠΕΛΑΤΗ</span>
    </ion-title>
    <ion-buttons end *ngIf="navParams.data.draft === true">
      <button ion-button (click)="deleteCustomer()" icon-only>
        <ion-icon name="trash" color="app-yellow" style="font-size: 25px;margin-right:10px;">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-tabs #tabs tabsPlacement="top">
    <ion-tab [root]="tab1Root" [rootParams]="navParams.data" tabTitle="ΠΕΛΑΤΗΣ"></ion-tab>
    <ion-tab [root]="tab2Root" [rootParams]="navParams.data" tabTitle="ΕΓΚΑΤΑΣΤΑΤΗΣ"></ion-tab>
  </ion-tabs>

</ion-content>