page-customer-info {

    // .toolbar-background {
    //     background-color: black;
    //   }

    .ion-content {
        background: #36365f;
    }
    .tabs .tabbar {
        background-color: #272753;
    }
    .tab-button[aria-selected=true] {
        border-bottom: 2px solid #ffc200;
    }

    [color="my-custom-color"] {
        color: #ffc200;;
    }

    .toolbar-title-md{
        position: relative;
        right: 20px;
    }
    
    ion-checkbox{
        margin-top:5px;
    }
}