page-dashboard {
    hr {
        height:0; 
        border:0; 
        border-top:thin solid #8c8ca9;
    }    
    
    
}

.toast{
    text-align: center;
}

// .toast-container{
//     background-color: transparent !important;
// }

.toast-wrapper {
    background: transparent !important;
}