page-hellas-dms {
    .ion-content {
        background: #36365f;
    }
    .p1 {
        font-size: 20px;
        color: white;
        position: relative;
        top: 20px;
    }
    .p2 {
        font-size: 40px;
        color: #ffc200;
        display: inline-block;
    }
    .col1 {
        font-size: 20px;
        color: white;
        opacity: 0.3;
    }
    .col2 {
        font-size: 20px;
        color: white;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #070752;
        margin: 1em 0;
        padding: 0;
    }
}