page-view-note {

    span{
        padding-top: 5px;
    }
    input:focus~.floating-label,
    input:not(:focus):valid~.floating-label {
        top: 5px;
        bottom: 10px;
        left: 10px;
        font-size: 11px;
        opacity: 1;
    }
    .inputText {
        font-size: 14px;
        background: #272753;
        border: 0;
        padding-left: 6px;
        color: #FFFFFF;
    }
    .floating-label {
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 18px;
        transition: 0.2s ease all;
        color: #8c8ca9;
    }

    .text-input-md {
        margin: 13px 0px !important;
    }

    .item-md{
        background: #272753;
    }

    ion-select{
        background: #272753;
        color:#ffffff;
    }

    ion-label{
        background: #272753;        
        font-size: 12px;
        color: #8c8ca9;
    }

    .select-text{
        font-size: 12px;
    }

    .select-md {
        padding: 5px 8px 0 16px !important;
    }

    .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
        margin: 0 9px 9px -15px !important;
    }
}
