<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">
      <img alt="logo" height="50px" src="assets/imgs/Hellas-Dns-logo.png"  (click)="goToDashboard()">
    </ion-title>
    <ion-buttons end>
      <div style="color:green;display: inline-block;position: relative;top:8px;right: 5px;" *ngIf="networkProvider.isOnline()" (click)="displayConnectionToast()">
        Online
      </div>
      <div style="color:red;display: inline-block;position: relative;top:8px;right: 5px;" *ngIf="!networkProvider.isOnline()" (click)="displayConnectionToast()">
        Offline
      </div>      
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="ion-content">
  <ion-row>
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;border-radius: 5px;" class="inputText" no-margin [(ngModel)]="name"
       [readonly]="navParams.data.draft == false">
      <span class="floating-label">ΕΠΩΝΥΜΙΑ</span>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;">
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;border-radius: 5px;" class="inputText" no-margin [(ngModel)]="afm"
       [readonly]="navParams.data.draft == false">
      <span class="floating-label">ΑΦΜ | ΔΟΥ</span>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 5px;border-top-left-radius: 5px; border-top-right-radius: 5px;">
    <ion-col col-12 col-lg style="color:#8c8ca9;margin-left: 5px;font-size: 10px;">
      ΠΕΡΙΓΡΑΦΗ ΕΠΑΓΓΕΛΜΑΤΟΣ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
    <ion-col col-12 col-lg no-padding>
      <ion-textarea rows="5" style="color:#ffffff; margin-left: 5px;font-size: 12px;" [(ngModel)]="proffesionalDescription"
       [readonly]="navParams.data.draft == false"></ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;background: #272753;border-top-left-radius: 5px; border-top-right-radius: 5px;">
    <ion-col col-12 col-lg no-padding style="color:#8c8ca9;margin-left: 10px;margin-top:20px; font-size: 10px;position: relative;bottom: 10px;">
      ΔΙΕΥΘΥΝΣΗ ΑΣΦΑΛΙΖΟΜΕΝΟΥ ΧΩΡΟΥ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;">
    <ion-col col-6 col-lg no-padding style="position:relative;top:10px;">
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin [(ngModel)]="insuredAreaAddress"
       [readonly]="navParams.data.draft == false">
      <span class="floating-label">ΟΔΟΣ - ΑΡΙΘΜΟΣ</span>
    </ion-col>
    <ion-col col-6 col-lg no-padding style="position:relative;top:10px;">
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin [(ngModel)]="insuredAreaCity"
        [readonly]="navParams.data.draft == false">
      <span class="floating-label">ΠΟΛΗ</span>
    </ion-col>
  </ion-row>
  <ion-row style="background: #272753; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
    <ion-col col-6 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"
        class="inputText" no-margin [(ngModel)]="insuredAreaPostCode" [readonly]="navParams.data.draft == false">
      <span class="floating-label">ΤΚ</span>
    </ion-col>
    <ion-col col-6 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"
        class="inputText" no-margin [(ngModel)]="insuredAreaFloor" [readonly]="navParams.data.draft == false">
      <span class="floating-label">ΟΡΟΦΟΣ</span>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;">
    <ion-col col-12 no-padding>
      <input type="text" style="width: 100%;height: 50px;border-top-left-radius: 5px;border-top-right-radius: 5px;"
        class="inputText" no-margin [(ngModel)]="landlinePhone" [readonly]="navParams.data.draft == false">
      <span class="floating-label">ΣΤΑΘΕΡΟ ΤΗΛΕΦΩΝΟ</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin [(ngModel)]="fax"
        [readonly]="navParams.data.draft == false">
      <span class="floating-label">FAX</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 no-padding>
      <input type="text" style="width: 100%;height: 50px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"
        class="inputText" no-margin [(ngModel)]="mobilePhone" (change)="saveMobile()" [readonly]="navParams.data.draft == false">
      <span class="floating-label">ΚΙΝΗΤΟ ΤΗΛΕΦΩΝΟ</span>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;">
    <ion-col col-12 no-padding>
      <input type="text" style="width: 100%;height: 50px;border-top-left-radius: 5px; border-top-right-radius: 5px;"
        class="inputText" no-margin [(ngModel)]="email" [readonly]="navParams.data.draft == false">
      <span class="floating-label">EMAIL ΕΠΙΚΟΙΝΩΝΙΑΣ</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 no-padding>
      <input type="text" style="width: 100%;height: 50px;border-bottom-left-radius: 5px; border-bottom-right-radius:5px;"
        class="inputText" no-margin [(ngModel)]="website" [readonly]="navParams.data.draft == false">
      <span class="floating-label">WEB SITE</span>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
    <ion-col col-12 col-lg style="color:#8c8ca9;margin-left: 10px;font-size: 10px;">
      ΠΟΛΙΤΙΚΗ ΕΙΣΠΡΑΞΗΣ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
    <ion-col col-12 col-lg style="color:#8c8ca9;margin-left: 5px;">
      <ion-list radio-group no-lines [(ngModel)]="collectionPolicy">
        <ion-item style="background:  #272753;">
          <!-- <input name="selection" type="radio" value="selfCollection" style="margin-right: 10px;"> -->
          <ion-radio item-left value="selfCollection" color="white" [disabled]="navParams.data.draft == false"></ion-radio>
          <ion-label style="color:#8c8ca9;font-size: 12px;">Είσπραξη από τον ίδιο</ion-label>
        </ion-item>
        <ion-item style="background:  #272753;">
          <!-- <input name="selection" type="radio" value="hdmsCollection" style="margin-right: 10px;"> -->
          <ion-radio item-left value="hdmsCollection" color="white" [disabled]="navParams.data.draft == false"></ion-radio>
          <ion-label style="color:#8c8ca9;font-size: 12px;">Είσπραξη από HDMS</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
    <ion-col col-12 col-lg style="color:#8c8ca9;margin-left: 10px;font-size: 10px;">
      EMAIL INVOICE
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
    <ion-col col-12 col-lg style="color:#8c8ca9;margin-left: 5px;">
      <ion-list radio-group no-lines [(ngModel)]="emailInvoice">
        <ion-item style="background:  #272753;">
          <!-- <input name="selection2" type="radio" value="yes" style="margin-right: 10px;"> -->
          <ion-radio item-left value="yes" color="white" [disabled]="navParams.data.draft == false"></ion-radio>
          <ion-label style="color:#8c8ca9;font-size: 12px;">YES</ion-label>
        </ion-item>
        <ion-item style="background:  #272753;">
          <!-- <input name="selection2" type="radio" value="no" style="margin-right: 10px;"> -->
          <ion-radio value="no" item-left color="white" [disabled]="navParams.data.draft == false"></ion-radio>
          <ion-label style="color:#8c8ca9;font-size: 12px;">NO</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 5px;border-top-left-radius: 5px; border-top-right-radius: 5px;">
    <ion-col col-12 col-lg style="color:#8c8ca9;margin-left: 10px;font-size: 10px;">
      BILLING ADDRESS ONLY
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
    <ion-col col-12 col-lg style="color:#8c8ca9;margin-left: 5px;">
      <ion-list radio-group no-lines [(ngModel)]="billingAddressOnly">
        <ion-item style="background:  #272753;">
          <!-- <input name="selection3" type="radio" value="yes" style="margin-right: 10px;"> -->
          <ion-radio value="yes" item-left color="white" [disabled]="navParams.data.draft == false"></ion-radio>
          <ion-label style="color:#8c8ca9;font-size: 12px;">YES</ion-label>
        </ion-item>
        <ion-item style="background:  #272753;">
          <!-- <input name="selection3" type="radio" value="no" style="margin-right: 10px;"> -->
          <ion-radio value="no" item-left color="white" [disabled]="navParams.data.draft == false"></ion-radio>
          <ion-label style="color:#8c8ca9;font-size: 12px;">NO</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <button ion-button full color="app-yellow" style="color:#000000; font-weight:bold;" (click)="save()">Αποθηκευση</button>
</ion-footer>