page-profile {
    .inputText {
        font-size: 12px;
        background: #272753;
        border: 0;
        padding-left: 10px;
        color: #FFFFFF;
    }
    
    .floating-label {
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 5px;
        font-size: 10px;
        transition: 0.2s ease all;
        color: #8c8ca9;
    }

    input[type="radio"]+label {
        font-size: 12px;
    }

    input[type="radio"]:checked+label {
        color: #ffffff !important;
    }

    .item-md .radio-md[item-left],
    .item-md .radio-md[item-start] {
        margin: 11px 17px 10px -10px;
    }

    textarea {
        margin-top: 0px !important;
        font-size: 12px;
        margin-left: 5px !important;
    }
}
