page-new-customer {
    input:focus ~ .floating-label,
    input:not(:focus):valid ~ .floating-label {
        top: 5px;
        bottom: 10px;
        left: 10px;
        font-size: 11px;
        opacity: 1;
    }
    
    .inputText {
        font-size: 14px;
        background: #272753;
        border:0;
        padding-left: 10px;
        color: #FFFFFF;
    }
    
    .floating-label {
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 18px;
        transition: 0.2s ease all;
        color: #59597b;
    }

    
    input[type="radio"]+label { font-size: 12px;}
    input[type="radio"]:checked+label { color: #ffffff;}

}

