<ion-content class="ion-content">
  <div style="color:#ffc200;margin-bottom: 10px;">ΕΓΓΡΑΦΗ ΝΕΟΥ ΠΕΛΑΤΗ</div>
  
  <ion-row>
    <ion-col col-12 col-lg no-padding >
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΟΝΟΜΑ ΕΓΚΑΤΑΣΤΑΤΗ</span>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;">
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΚΩΔΙΚΟΣ ΠΕΛΑΤΗ (CSID 6ψηφια)</span>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;">
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΒΟΗΘΗΤΙΚΟΣ ΚΩΔΙΚΟΣ ΠΕΛΑΤΗ (PASSCODE 10ψηφια)</span>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;">
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΚΩΔΙΚΟΣ ΑΠΕΙΛΗΣ DURESS CODE (6ψηφια)</span>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;">
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΗΜΕΡΟΜΗΝΙΑ ΣΥΝΔΕΣΗΣ ΠΕΛΑΤΗ</span>
    </ion-col>
  </ion-row>


  <ion-row style="margin-top:30px;">
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΕΠΩΝΥΜΙΑ ΣΥΝΔΡΟΜΗΤΗ</span>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;background: #272753;border-top-left-radius: 10px;border-top-right-radius: 10px;">
    <ion-col col-12 col-lg no-padding style="color:#59597b;margin-left: 10px;">
      ΔΙΕΥΘΥΝΣΗ ΑΣΦΑΛΙΖΟΜΕΝΟΥ ΧΩΡΟΥ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753">
    <ion-col col-6 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΟΔΟΣ - ΑΡΙΘΜΟΣ</span>
    </ion-col>
    <ion-col col-6 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΠΟΛΗ</span>
    </ion-col>
  </ion-row>
  <ion-row style="background: #272753; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    <ion-col col-6 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΤΚ</span>
    </ion-col>
    <ion-col col-6 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΟΡΟΦΟΣ</span>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 5px;border-top-left-radius: 10px;border-top-right-radius: 10px;">
    <ion-col col-12 col-lg style="color:#59597b;margin-left: 10px;">
      ΑΝΑΛΥΤΙΚΗ ΠΕΡΙΓΡΑΦΗ (ΟΔΗΓΙΕΣ) ΑΣΦΑΛΙΖΟΜΕΝΟΥ ΧΩΡΟΥ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    <ion-col col-12 col-lg no-padding>
      <ion-textarea style="height:80px;color:#ffffff;margin-left: 10px;"></ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 5px;border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <ion-col col-12 col-lg style="color:#59597b;margin-left: 10px;">
      ΕΙΔΟΣ ΑΣΦΑΛΙΖΟΜΕΝΟΥ ΧΩΡΟΥ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    <ion-col col-12 col-lg style="color:#59597b;margin-left: 5px;">
      <ion-list radio-group no-lines>

        <ion-item style="background:  #272753;">
          <input name="selection" type="radio" value="store" style="margin-right: 10px;">
          <label style="color:#59597b">Κατάστημα</label>
        </ion-item>
        <ion-item style="background:  #272753;">
          <input name="selection" type="radio" value="apartment" style="margin-right: 10px;">
          <label style="color:#59597b">Διαμέρισμα</label>
        </ion-item>
        <ion-item style="background:  #272753;">
          <input name="selection" type="radio" value="office" style="margin-right: 10px;">
          <label style="color:#59597b">Γραφείο</label>
        </ion-item>
        <ion-item style="background:  #272753;">
          <input name="selection" type="radio" value="detachedHouse" style="margin-right: 10px;">
          <label style="color:#59597b">Μονοκατοικία</label>
        </ion-item>
        <ion-item style="background:  #272753;">
          <input type="radio" name="selection" value="other" style="margin-right: 10px;">
          <label style="margin-right: 10px;color:#59597b">Άλλο</label>
          <input type="text" style="width:100%;background: #36365f;color:#ffffff;border: 0;">
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;">
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΤΗΛΕΦΩΝΟ ΧΩΡΟΥ</span>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;background: #272753; border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <ion-col col-11 style="color:#59597b;padding-left: 10px;font-size: 12px">
      ΤΗΛΕΦΩΝΑ ΕΙΔΟΠΟΙΗΣΗΣ (ΣΕΙΡΑ ΠΡΟΤΕΡΑΙΟΤΗΤΑΣ)
    </ion-col>
    <ion-col col-1>
      <ion-icon float-right name="add" style="color: #ffc200;padding-right: 10px;" (click)="addPhoneNotices()"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let phoneNotice of phoneNotices.slice(0, -1); let i = index;" style="margin-bottom:2px;background: #272753;">
    <ion-col col-1 *ngIf="phoneNotice.editable === false">
      <img src="../assets/imgs/drag-icon.png" style="height:20px;width:20px;">
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="phoneNotice.editable === false">
      {{phoneNotice.name}}
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="phoneNotice.editable === false">
      {{phoneNotice.phone}}
    </ion-col>
    <ion-col col-1 *ngIf="phoneNotice.editable === false">
      <ion-icon float-right name="close" style="color:#ffffff; margin-right:10px" (click)="removePhoneNotice(i)"></ion-icon>
    </ion-col>

    <ion-col col-1 *ngIf="phoneNotice.editable === true">
      <img src="../assets/imgs/drag-icon.png" style="height:20px;width:20px;position: relative;top:10px;">
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="phoneNotice.editable === true">
      <ion-input style="position: relative;left: -7px;" type="text" placeholder="Χρήστης"></ion-input>
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="phoneNotice.editable === true">
      <ion-input style="position: relative;left: -7px;" type="text" placeholder="Τηλέφωνο"></ion-input>
    </ion-col>
    <ion-col col-1 *ngIf="phoneNotice.editable === true">
      <ion-icon float-right name="close" style="color:#ffffff; margin-right:10px;position: relative;top:15px;" (click)="removePhoneNotice(i)"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="phoneNotices.length > 0" style="background: #272753;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;" >
      <ion-col col-1 *ngIf="phoneNotices[phoneNotices.length-1].editable === false">
          <img src="../assets/imgs/drag-icon.png" style="height:20px;width:20px;">
        </ion-col>
        <ion-col col-5 style="color:#ffffff" *ngIf="phoneNotices[phoneNotices.length-1].editable === false">
          {{phoneNotices[phoneNotices.length-1].name}}
        </ion-col>
        <ion-col col-5 style="color:#ffffff" *ngIf="phoneNotices[phoneNotices.length-1].editable === false">
            {{phoneNotices[phoneNotices.length-1].phone}}
        </ion-col>
        <ion-col col-1 *ngIf="phoneNotices[phoneNotices.length-1].editable === false">
          <ion-icon float-right name="close" style="color:#ffffff; margin-right:10px" (click)="removePhoneNotice(phoneNotices.length-1)"></ion-icon>
        </ion-col>
    
        <ion-col col-1 *ngIf="phoneNotices[phoneNotices.length-1].editable === true">
          <img src="../assets/imgs/drag-icon.png" style="height:20px;width:20px;position: relative;top:10px;">
        </ion-col>
        <ion-col col-5 style="color:#ffffff" *ngIf="phoneNotices[phoneNotices.length-1].editable === true">
          <ion-input style="position: relative;left: -7px;" type="text" placeholder="Χρήστης"></ion-input>
        </ion-col>
        <ion-col col-5 style="color:#ffffff" *ngIf="phoneNotices[phoneNotices.length-1].editable === true">
          <ion-input style="position: relative;left: -7px;" type="text" placeholder="Τηλέφωνο"></ion-input>
        </ion-col>
        <ion-col col-1 *ngIf="phoneNotices[phoneNotices.length-1].editable === true">
          <ion-icon float-right name="close" style="color:#ffffff; margin-right:10px;position: relative;top:15px;" (click)="removePhoneNotice(phoneNotices.length-1)"></ion-icon>
        </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 20px;">
    <ion-col col-12 col-lg style="color:#59597b;margin-left: 10px;">
      ΤΥΠΟΣ ΜΟΝΑΔΟΣ ΣΥΝΑΓΕΡΜΟΥ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;">
    <ion-col col-12 col-lg no-padding>
      <ion-textarea style="height:80px;color:#ffffff; margin-left: 10px;"></ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 5px;">
    <ion-col col-12 col-lg style="color:#59597b;margin-left: 10px;">
      FORMAT
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;">
    <ion-col col-12 col-lg style="color:#59597b;margin-left: 5px;">
      <ion-list radio-group no-lines>

        <ion-item style="background:  #272753;">
          <input name="selection2" type="radio" value="cid" style="margin-right: 10px;">
          <label for="label4" style="color:#59597b">CID</label>
        </ion-item>
        <ion-item style="background:  #272753;">
          <input name="selection2" type="radio" value="sia" style="margin-right: 10px;">
          <label for="label4" style="color:#59597b">SIA</label>
        </ion-item>
        <ion-item style="background:  #272753;">
          <input name="selection2" type="radio" value="fourPlusTwo" style="margin-right: 10px;">
          <label for="label4" style="color:#59597b">4+2</label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 5px;">
    <ion-col col-12 col-lg style="color:#59597b;margin-left: 10px;">
      ΣΥΧΝΟΤΗΤΑ 24ΩΡΟΥ ΤΕΣΤ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;">
    <ion-col col-12>
      <ion-range min="1" max="24" step="1" snaps="true" pin="true" color="app-yellow"></ion-range>
      <div style="position:relative; top:-20px;">
        <span style="position:relative; left:43px;">4</span>
        <span style="position:relative; left:85px;">8</span>
        <span style="position:relative; left:120px;">12</span>
        <span style="position:relative; left:155px;">16</span>
        <span style="position:relative; left:190px;">20</span>
        <span style="position:relative; left:220px;">24</span>
      </div>

    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;background: #272753">
    <ion-col col-11 style="color:#59597b;padding-left: 10px;font-size: 12px">
      ΖΩΝΟΠΟΙΗΣΗ ΣΥΣΤΗΜΑΤΟΣ
    </ion-col>
    <ion-col col-1>
      <ion-icon float-right name="add" style="color: #ffc200;padding-right: 10px;" (click)="addZone()"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let zone of zones; let i = index;" style="margin-bottom:2px;background: #272753;">
    <ion-col col-1 *ngIf="zone.editable === false">
      <img src="../assets/imgs/drag-icon.png" style="width:20px;height:20px;">
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="zone.editable === false">
      {{zone.name}}
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="zone.editable === false">
      {{zone.id}}
    </ion-col>
    <ion-col col-1 *ngIf="zone.editable === false">
      <ion-icon float-right name="close" style="color:#ffffff; margin-right:10px" (click)="removeZone(i);"></ion-icon>
    </ion-col>

    <ion-col col-1 *ngIf="zone.editable === true">
      <img src="../assets/imgs/drag-icon.png" style="width:20px;height:20px;position: relative;top:10px;">
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="zone.editable === true">
      <ion-input type="text" placeholder="Zone name" style="margin-left:-7px"></ion-input>
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="zone.editable === true">
      <ion-input type="text" placeholder="Zone id" style="margin-left:-7px"></ion-input>
    </ion-col>
    <ion-col col-1 *ngIf="zone.editable === true">
      <ion-icon float-right name="close" style="color:#ffffff; margin-right:10px;position: relative;top:15px;" (click)="removeZone(i);"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row style="margin-bottom:2px;background: #272753;">
    <ion-col>
      <button ion-button full style="background: #33335d">Περισσοτερα</button>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 5px;">
    <ion-col col-12 col-lg style="color:#59597b;margin-left: 10px;">
      ΕΒΔΟΜΑΔΙΑΙΟ ΩΡΑΡΙΟ ON/OFF ΠΑΡΑΚΟΛΟΥΘΗΣΗΣ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;">
    <ion-col col-12 col-lg no-padding>
      <ion-textarea style="height:80px;color:#ffffff; margin-left: 10px;"></ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;">
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΑΣΤΥΝΟΜΙΚΟ ΤΜΗΜΑ ΠΕΡΙΟΧΗΣ</span>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;">
    <ion-col col-12 col-lg style="color:#59597b;margin-left: 5px;">
      ΤΗΛΕΦΩΝΑ ΑΜΕΣΗΣ ΕΠΕΜΒΑΣΗΣ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;">
    <ion-col col-12 col-lg no-padding>
      <ion-textarea style="height:80px;color:#ffffff;margin-left: 5px"></ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΩΡΕΣ ΕΛΕΓΧΟΥ ΕΠΕΜΒΑΣΗΣ</span>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;background: #272753">
    <ion-col col-11 style="color:#59597b;padding-left: 10px;font-size: 12px">
      ΟΝΟΜΑΤΑ ΧΡΗΣΤΩΝ ΣΥΝΑΓΕΡΜΟΥ (Users)
    </ion-col>
    <ion-col col-1>
      <ion-icon float-right name="add" style="color: #ffc200;padding-right: 10px;" (click)="addAlarmUser()"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let alarmUser of alarmUsers; let i = index;" style="margin-bottom:2px;background: #272753;">
    <ion-col col-5 style="color:#ffffff" *ngIf="alarmUser.editable === false">
      {{alarmUser.username}}
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="alarmUser.editable === false">
      {{alarmUser.name}}
    </ion-col>
    <ion-col col-2 *ngIf="alarmUser.editable === false">
      <ion-icon float-right name="close" style="color:#ffffff; margin-right:10px" (click)="removeAlarmUser(i)"></ion-icon>
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="alarmUser.editable === true">
      <ion-input type="text" placeholder="Χρήστης" style="position:relative;left:-7px;"></ion-input>
    </ion-col>
    <ion-col col-5 style="color:#ffffff" *ngIf="alarmUser.editable === true">
      <ion-input type="text" placeholder="Όνομα" style="position:relative;left:-7px;"></ion-input>
    </ion-col>
    <ion-col col-2 *ngIf="alarmUser.editable === true">
      <ion-icon float-right name="close" style="color:#ffffff; margin-right:10px; position: relative;top:15px;" (click)="removeAlarmUser(i)"></ion-icon>
    </ion-col>

  </ion-row>

  <ion-row style="margin-top:5px;">
    <ion-col col-12 col-lg no-padding>
      <input type="text" style="width: 100%;height: 50px;" class="inputText" no-margin>
      <span class="floating-label">ΜΗΝΙΑΙΑ ΛΙΣΤΑ ΣΗΜΑΤΩΝ ΣΥΝΑΓΕΡΜΟΥ (REPORT)</span>
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;margin-top: 5px;">
    <ion-col col-12 col-lg style="color:#59597b;margin-left: 10px;">
      EXTRA ΠΑΡΑΤΗΡΗΣΕΙΣ
    </ion-col>
  </ion-row>

  <ion-row style="background: #272753;">
    <ion-col col-12 col-lg no-padding>
      <ion-textarea style="height:80px;color:#ffffff;margin-left: 10px;"></ion-textarea>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <button ion-button full color="app-yellow" style="color:#000000;font-weight:bold;">Αποστολη</button>
</ion-footer>