page-new-customer {
    input:focus~.floating-label,
    input:not(:focus):valid~.floating-label {
        top: 5px;
        bottom: 10px;
        left: 10px;
        opacity: 1;
    }
    .inputText {
        font-size: 12px;
        background: #272753;
        border: 0;
        padding-left: 10px;
        color: #FFFFFF;
    }
    .floating-label {
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 18px;
        font-size: 9px;
        transition: 0.2s ease all;
        color: #8c8ca9;
    }
    input[type="radio"]+label {
        font-size: 12px;
    }
    input[type="radio"]:checked+label {
        color: #ffffff !important;
    }
    .range-md .range-knob-handle .range-pin {
        transform: translate3d(0, 0, 0) scale(1);
    }
    .range-md:not(.range-has-pin) .range-knob-handle .range-knob {
        transform: scale(1);
    }
    .range-ios .range-knob-handle .range-pin {
        transform: translate3d(0, 0, 0) scale(1);
    }
    
    textarea{
        font-size: 12px;
    }
}