page-home {
    .bg-style {
        background: #36365f;
    }

    .forgotPassword {
        color: white;
    }

    .login-button {
        background: #FFC200;
        color: black;
        font-weight: bold;
    } 
    
    .custom-toggle.toggle-checked .toggle-inner {
        background-color: #FFC200; // Whatever color you want
    }
}