// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
    background-color: #07073b;
}

.ion-content {
    background: #36365f;
}

.vertical-bar:after {
    content: '';
    width: 0;
    height: 100%;
    border: 1px solid #272753;
}

.menu-inner {
    width: 100%;
}

.item {
    min-height: 30px;
    /* <- this can be whatever you need */
}

.ion-popover .popover-content {
    width: 150px !important;
}

ion-navbar.toolbar {
    height: 50px !important;
}

//on Android
ion-navbar.toolbar-md {
    height: 50px !important;
}

//on iOS
ion-navbar.toolbar.toolbar-ios {
    height: 50px !important;
}

ion-header ion-icon.back-button-icon.icon {
    color: #ffc200;
}

.tab-button-text {
    font-size: 10px !important;
}

.tabs-md .tab-button {
    min-height: 4.6rem;
}