page-connection-info {
    
    .ion-content{
        background: #36365f;
    }

    .protocol, .network{
        color: #ffc200;
        font-size: 20px;
    }

    .netrec{
        color:white;
        font-size: 18px;
        margin-top:10px;
    }
}
